<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginVerification</servlet-name>
    <servlet-class>com.Login.LoginVerification</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>stuSearch</servlet-name>
    <servlet-class>com.stuManager.stuSearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.stuManager.test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>checkStuNo</servlet-name>
    <servlet-class>com.stuManager.checkStuNo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>checkDromSlot</servlet-name>
    <servlet-class>DromManager.checkDromSlot</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>stuAdd</servlet-name>
    <servlet-class>com.stuManager.stuAdd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>stuDelete</servlet-name>
    <servlet-class>com.stuManager.stuDelete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>checkDromNo</servlet-name>
    <servlet-class>DromManager.checkDromNo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>dromDelete</servlet-name>
    <servlet-class>DromManager.dromDelete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>dromSearch</servlet-name>
    <servlet-class>DromManager.dromSearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>stuUpdate</servlet-name>
    <servlet-class>com.stuManager.stuUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>stuChangeDrom</servlet-name>
    <servlet-class>DromManager.stuChangeDrom</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>eletricSearch</servlet-name>
    <servlet-class>com.EletricManager.eletricSearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>eletricAddFare</servlet-name>
    <servlet-class>com.EletricManager.eletricAddFare</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>eletricDelFare</servlet-name>
    <servlet-class>com.EletricManager.eletricDelFare</servlet-class>
  </servlet>














  <servlet-mapping>
    <servlet-name>LoginVerification</servlet-name>
    <url-pattern>/servlet/LoginVerification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stuSearch</servlet-name>
    <url-pattern>/servlet/stuSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkStuNo</servlet-name>
    <url-pattern>/servlet/checkStuNo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkDromSlot</servlet-name>
    <url-pattern>/servlet/checkDromSlot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stuAdd</servlet-name>
    <url-pattern>/servlet/stuAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stuDelete</servlet-name>
    <url-pattern>/servlet/stuDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkDromNo</servlet-name>
    <url-pattern>/servlet/checkDromNo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dromDelete</servlet-name>
    <url-pattern>/servlet/dromDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dromSearch</servlet-name>
    <url-pattern>/servlet/dromSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stuUpdate</servlet-name>
    <url-pattern>/servlet/stuUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>stuChangeDrom</servlet-name>
    <url-pattern>/servlet/stuChangeDrom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>eletricSearch</servlet-name>
    <url-pattern>/servlet/eletricSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>eletricAddFare</servlet-name>
    <url-pattern>/servlet/eletricAddFare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>eletricDelFare</servlet-name>
    <url-pattern>/servlet/eletricDelFare</url-pattern>
  </servlet-mapping>
</web-app>